{% extends 'base.html.twig' %}

{% block title %}<h1>Créer un utilisateur</h1>{% endblock %}

{% block body %}
    <h1>Créer un utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_list') }}">Retour</a>
{% endblock %}
